* {
  margin: 0;
  padding: 0;
}

h1 {
  background: darkseagreen;
  color: black;
  padding-left: 2%;
  text-shadow: 2px 3px dimgray;
  text-align: center;
  border-style: solid;
  box-shadow: 2px 3px black;
}

.container {
  display: flex;
  border-style: solid;
  box-shadow: 2px 3px black;
}

fieldset {
  display: grid;
  margin: 20%;
  margin-left: 220%;
  padding: 2%;
  height: 300px;
  width: 90px;
  justify-content: center;
  border-radius: 4px;
  border: none;
}

input {
  width: 50px;
  height: 40px;
  text-align: center;
  border-style: solid;
  border-color: black;
  background: darkseagreen;
  border-radius: 4px;
}

.bts {
  margin-left: 10%;
  padding: 30%;
  padding-left: 19%;
  padding-top: 28%;
  display: flex;
}

#calc {
  width: 100px;
  background: darkseagreen;
}

#clear {
  margin-left: 8%;
  width: 100px;
  background: darkseagreen;
}

.borda-result {
  display: grid;
  margin-left: -228%;
  margin-top: 25%;
  width: 200px;
  height: 90px;
  text-align: center;
  border-style: solid;
}

.result {
  text-align: center;
}

textarea {
  border-style: none;
  background: darkseagreen;
}

body {
  background: darkseagreen;
}


