* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: lightgreen;
}

.container {
  display: flex;
}

h1 {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.box {
  display: grid;
  padding: 2%;
  margin-left: 38%;
  text-align: center;
}

input {
  text-align: center;
  width: 80px;
  margin-left: 25%;
}

#bts {
  margin-top: 4%;
  margin-left: -32%;
}

.result {
  margin-top: 10%;
}
