body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: url("https://img.freepik.com/vetores-gratis/vetor-de-fundo-matematico-e-geometrico-em-remix-de-educacao-azul-gradiente_53876-114100.jpg");
  background-color: #000000;
  background-size: 180vh;
  background-position: center up;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
  color: white;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.box {
  padding-top: 10%;
}

#bts {
  margin-top: 4%;
}

.result {
  margin-top: 4%;
  font-size: 20px;
}

.result2 {
  margin-top: 2%;
  font-size: 20px;
}

#nt1 {
  text-align: center;
  width: 3em;
  border-radius: 10%;
}

#nt2 {
  text-align: center;
  width: 3em;
  border-radius: 10%;
}

#nt3 {
  text-align: center;
  width: 3em;
  border-radius: 10%;
}

#nt4 {
  text-align: center;
  width: 3em;
  border-radius: 10%;
}

label {
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calc {
  background: gray;
}

.calc:hover {
  opacity: 0,5;
}

.clear {
  background: gray;
}

.clear:hover {
  opacity: 0,5;
}
